.crocs-banner {
  display: flex;
  margin-bottom: 50px;
}
.crocs-banner .banner-image {
  width: 100%;
  object-fit: cover;
}
@media(max-width:450px){
  .crocs-banner{
    margin-top: -40px;
    margin-bottom: 40px;
  }
}
